{{ block "login" . }}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js" integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/bootstrap.css">
    <script src="/static/scripts/bootstrap.js" defer></script>
    <script src="/static/scripts/account.js" defer></script>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
                <form class="py-3 px-4 border rounded" hx-post="/login" id="form" hx-swap="none" hx-on::before-request="resetForm(this)" hx-on::response-error="displayError(event)">
                    <div class="mb-1 d-none alert alert-danger p-1 text-center small" role="alert" id="error"></div>
                    <div class="mb-1">
                        <label for="usernameinput" class="form-label">Username</label>
                        <input type="text" class="form-control" id="usernameinput" name="username">
                    </div>
                    <div class="mb-1">
                        <label for="passwordinput" class="form-label">Password</label>
                        <input type="password" class="form-control" id="passwordinput" name="password" placeholder="">
                    </div>
                    <div class="mb-1 form-check text-center">
                        You don't have an account? <a class="link-secondary" href="/register">Register</a>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
{{ end }}