{{ block "register" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.js" integrity="sha384-gpIh5aLQ0qmX8kZdyhsd6jA24uKLkqIr1WAGtantR4KsS97l/NRBvh8/8OYGThAf" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/account.css">
    <script src="/static/scripts/account.js" defer></script>
</head>
<body>
    <div id="menu">
        <form hx-post="/register" id="form" hx-swap="none" hx-on::before-request="resetForm(this)" hx-on::response-error="displayError(event)">
            <div id="error"></div>
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="password" id="password-repeated" name="password-repeated" placeholder="Confirm your password">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
{{ end }}